footer {
    border-top: 1px solid #44444445;
    ul {
        list-style-type: none;
    }

    p {
        padding-bottom: 0;
    }

    .footer__main {
        padding: $pageSideMargins;

        display: grid;
        justify-items: center;
        grid-gap: 2rem;
        align-items: center;

        @media (--no-mobileDevice) {
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .footer__main-box {

            &.footer__logo-box {
                text-transform: lowercase;
                text-align: center;
                img {
                    height: $headerLogoHeight;
                }

                @media (--no-mobileDevice) {
                    justify-self: left;
                }
            }

            &.footer__contact-box {
                text-align: center;
            }

            &.footer__social-box {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 1rem;

                @media (--no-mobileDevice) {
                    justify-self: right;
                }

                i {
                    font-size: 2rem;
                }

            }

        }
    }

    .footer__sub {
        font-size: 0.8rem;
        font-weight: $fontWeightThin;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        padding: 5px;
        align-items: center;
        line-height: 1rem;

        section:nth-child(2) {
            text-align: right;
            justify-self: right;
        }

    }
}
