.crud__container {

    .general__buttons {
        display: inline-flex;

        div {
            padding: 10px 10px 10px 0;
        }
    }

    table.items__table {
        width: 100%;
        table-layout: fixed;
        white-space: nowrap;

        td, th {
            text-align: left;
            padding: 10px 10px;
        }

        .table__td-centered {
            text-align: center;
        }
        th {
            background: darkgray;
            color: white;
        }
        tr:nth-child(even) {
            background: lightgrey;
        }

        .row-manage {
            text-align: center;
            width: 15%;
        }

        @media (--no-mobileDevice) {
            .row-manage {
                width: 5%;
            }
        }

        .delete__form {
            margin: 0;
            button {
                margin: 0;
                padding: 0;
                border: 0;
                background: none;
                font-family: $defaultFont;
                font-size: $defaultFontSize;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    color: $corporateColor;
                }
            }
        }
    }
}
