.product__categories {
    padding: 40px 0 20px 0;


    //display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    //grid-template-rows: 1fr;
}

.product__category {
    padding: 0 3rem 0 0;
    text-transform: uppercase;
    display: inline; white-space: nowrap;
    cursor: pointer;

    @include linkBehaviour;

    &.active {
        text-decoration: underline;
        font-weight: bold;
    }
}
