#page__project-show {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $pageSectionBottomMargins;

    &:nth-child(2) {
        grid-row: 1/2;
    }

    @media (--no-mobileDevice) {
        grid-template-columns: 1fr 2fr;
    }
}
