.product__categories {
    padding-bottom: 1rem;

    list-style-type: none;

    display: flex;
    flex-wrap: wrap;

    @media (--no-mobileDevice) {
        justify-content: start;
    }
}

.product__category {
    text-transform: uppercase;
    cursor: pointer;

    line-height: $pageSideMargins;
    margin-right: 1rem;

    @include linkBehaviour;

    &.active {
        text-decoration: underline;
        font-weight: bold;
    }
}
