html {
    background:  url(https://cdn.hirikoestudio.com/images/404-background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.page__unknown{
    text-align:center;

    h1 {
        font-size: 6rem;
    }

    i {
        font-size: 10rem;
    }
}

