#header {

    &.inverted {
        color: $headerInvertedLinkColor;
        a {
            color: $headerInvertedLinkColor;
        }
        .dropdown__button {
            color: $headerInvertedLinkColor;
        }
    }
}
