.cro__auto-adjust__gallery {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($croAAG_minImageSize, 1fr));
    grid-gap: $croAAG_gridGap;
    grid-auto-rows: $croAAG_minImageSize * 0.8;

    //this style is for the square view
    &::before {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    //this style also is for the square view
    & > *:first-child {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    .gallery__box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        overflow: hidden;

        .image__track {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .3s ease-in-out;
            }
        }

        .overlay__track {
            background-color: rgba(0, 0, 0, $croAAG_overlayAlpha);
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            display: grid;
            justify-items: center;
            align-items: center;
            z-index: 1;

            .overlay__text {
            }
        }

        .caption__track {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            z-index: 2;
        }
    }
}

.cro__auto-adjust__gallery {
    &.square {
        grid-auto-rows: 1fr;
    }

    &.overlay-up {
        .overlay__track {
            transition: 0.2s;
            transform: translateY(101%);
        }
        .gallery__box:hover {
            .overlay__track {
                @media (--no-mobileDevice) {
                    transform: translateY(0);
                }
            }
        }
    }

    &.overlay-zoom {
        .overlay__track {
            display: none;
        }
        .gallery__box:hover {
            .overlay__track {
                display: grid;
            }
            img {
                transform: scale(1.1);
            }
        }
    }
}
