@import "~line-awesome/dist/line-awesome/css/line-awesome.min.css";

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: url('../../fonts/raleway/Raleway-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: url('../../fonts/raleway/Raleway-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/raleway/Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/raleway/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/raleway/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('../../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype');
}
