#page__container {
    height: 100vh;
    padding-top: $headerHeight + 3rem;
    padding-left: $pageSideMargins;
    padding-right: $pageSideMargins;

    .page__section {
        padding-bottom: $pageSectionBottomMargins;
    }
}
