:root {
    /*---Fonts---*/
    --defaultFont:'DINRegular', Helvetica, Arial, sans-serif;
    --boldFont:'DINBold', Helvetica, Arial, sans-serif;
    --defaultFontSize: 14px;

    /*---Margins---*/
    --pageMargins: 1rem;
    --pageMarginsNoMobile: var(--pageMargins);

    /*---Colors---*/
    --backgroundColor: #ffffff;
    --textColor: #444444;
    --corporateColor: #444444;
    --complementaryColor: #ffffff;
    --formFieldErrorColor: #ff5353;

    /*---Buttons---*/
    --buttonBackgroundColor: var(--complementaryColor);
    --buttonTextColorHover: var(--complementaryColor);
    --buttonBorderColor: var(--textColor);

    /*---Header---*/
    --headerHeight: 5rem;
    --headerLogoHeight: 3rem;
    --headerLinksSpace: 2rem;
    --headerLinksSpaceNoMobile: 1.2rem;
    --headerBurgerSize: 2rem;
    --headerLinkFontSize: 1rem;

    /*---Devices---*/
    --mobileScreenMaxWidth: 767px;
    --tabletScreenMaxWidth: 991px;
    --smallDesktopScreenMaxWidth: 1199px;
    --mediumDesktopScreenMaxWidth: 1329px;
    --largeDesktopScreenMaxWidth: 1530px;
}

@custom-media --mobileDevice (width <= var(--mobileScreenMaxWidth));
@custom-media --tabletDevice (calc(var(--mobileScreenMaxWidth) + 1px) <= width <= var(--tabletScreenMaxWidth));
@custom-media --smallDesktop (calc(var(--tabletScreenMaxWidth) + 1px) <= width <= var(--smallDesktopScreenMaxWidth));
@custom-media --mediumDesktop (calc(var(--smallDesktopScreenMaxWidth) + 1px) <= width <= var(--mediumDesktopScreenMaxWidth));
@custom-media --largeDesktop (calc(var(--mediumDesktopScreenMaxWidth) + 1px) <= width <= var(--largeDesktopScreenMaxWidth));

@custom-media --no-mobileDevice (width > var(--mobileScreenMaxWidth));
