#header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: $headerHeight;
    background-color: $headerBackgroundColor;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    #header__logo {
        grid-column: 1/2;
        justify-self: start;
        align-self: center;
    }

    #header__burger, #header__links-wrapper {
        grid-column: 2/3;
        justify-self: end;
        align-self: center;
    }
}

#header__logo {
    margin-left: $headerSideMargins;
    @media (--no-mobileDevice) {
        margin-left: $headerSideMarginsNoMobile;
    }

    img {
        height: $headerLogoHeight;
    }
}

#header__burger {
    font-size: $headerBurgerSize;
    margin-right: $headerSideMargins;
    cursor: pointer;
    @media (--no-mobileDevice) {
        display: none;
        margin-right: $headerSideMarginsNoMobile;
    }
}

#header__links-wrapper {
    @media (--no-mobileDevice) {
        margin-right: $headerSideMarginsNoMobile;
    }
}


#header__links-wrapper #header__nav {
    position: absolute;
    right: 0;
    width: 0;
    transition: 0.5s;
    display: grid;
    align-items: center;

    @media (--no-mobileDevice) {
        grid-gap: 0.5rem;
        width: initial;
        position: initial;
        background: none;
        grid-auto-flow: column;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        background-color: $headerMobileMenuBackgroundColor;
        @media (--no-mobileDevice) {
            float: left;
            margin-left: $headerLinksSpaceNoMobile;
            background-color: initial;
        }

        a i {
            font-size: 2rem;
        }
    }
}

#header__links-wrapper a,
#header__links-wrapper .dropdown__button {
    font-size: $headerLinkFontSize;
    display: block;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: $headerLinksSpace 3%;
    border-top: 1px solid;

    color: $headerMobileMenuTextColor;

    @media (--no-mobileDevice) {
        padding: 0;
        line-height: inherit;
        border: 0;
        color: initial;
    }
}

#header__links-wrapper .nav__dropdown-container {
    overflow: hidden;

    .dropdown__button {
        outline: none;
        margin: 0;
        cursor: pointer;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;

        &:hover {
            span {
                text-decoration: underline;
            }
            font-weight: bold;
        }

    }

    .dropdown__list-container {
        padding-left: 15px;
        display: none;
        @media (--no-mobileDevice) {
            position: absolute;
            padding: 2px 5px 0 5px;
            background-color: $headerDropdownMenuBackgroundColor;
        }

        a {
            color: $headerDropdownMenuTextColor;
            line-height: $headerHeight / 2;
            float: none;
            display: block;
            text-align: left;
            font-size: $headerLinkFontSize - 0.3rem;
            padding: 10px 3%;
            @media (--no-mobileDevice) {
                padding: inherit;
            }
        }
    }
}
