#header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: $headerHeight;


    #header__logo {
        float: left;
        height: 100%;
        display: flex;
        margin-left: $headerSideMargins;
        @media (--no-mobileDevice) {
            margin-left: $headerSideMarginsNoMobile;
        }

        a {
            text-align: center;
            margin: 0;
            padding: 0;
            top: 50%;
            align-self: center;
        }

        img {
            float: left;
            height: $headerLogoHeight;
        }
    }

    #header__burger {
        font-size: $headerBurgerSize;
        cursor: pointer;
        position: relative;
        float: right;
        height: 100%;
        display: flex;
        margin-right: $headerSideMargins;
        @media (--no-mobileDevice) {
            display: none;
            margin-right: $headerSideMarginsNoMobile;
        }

        i {
            top: 50%;
            align-self: center;
        }
    }

    #header__links-wrapper {
        width: 100%;
        float: right;
        display: flex;
        @media (--no-mobileDevice) {
            margin-right: $headerSideMarginsNoMobile;
            height: 100%;
            width: initial;
            float: right;
            right: 0;
        }
    }
}

#header__links-wrapper #header__nav {
    position: absolute;
    right: 0;
    width: 0;
    transition: 0.5s;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @media (--no-mobileDevice) {
            float: left;
        }
    }

    @media (--no-mobileDevice) {
        width: initial;
        position: initial;
        top: 50%;
        align-self: center;
        background: none;
    }

    li {
        float: none;
        @media (--no-mobileDevice) {
            float: left;
            margin-left: $headerLinksSpaceNoMobile;
        }
    }
}

#header__links-wrapper a,
#header__links-wrapper .dropdown__button {
    font-size: $headerLinkFontSize;
    display: block;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: $headerLinksSpace 3%;
    border-top: 1px solid;
    @media (--no-mobileDevice) {
        padding: 0;
        line-height: inherit;
        border: 0;
    }
}

#header__links-wrapper .nav__dropdown-container {
    overflow: hidden;

    .dropdown__button {
        outline: none;
        margin: 0;
        cursor: pointer;
    }

    .dropdown__list-container {
        padding-left: 15px;
        display: none;
        @media (--no-mobileDevice) {
            position: absolute;
            padding: 2px 5px 0 5px;
        }

        a {
            line-height: $headerHeight / 2;
            float: none;
            text-decoration: none;
            display: block;
            text-align: left;
            font-size: $headerLinkFontSize - 0.3rem;
            padding: 10px 3%;
            @media (--no-mobileDevice) {
                padding: inherit;
            }
        }
    }
}
